body{
  width: 100%;
  height: auto;
  margin: 0px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  overflow-x: hidden;
}
@font-face{
  font-family: "gabriela";
  src: url(../font/Gabriela.ttf);
}
@font-face{
  font-family:"apples";
  src: url(../font/apples.otf);
}
@font-face{
  font-family:"Dancing";
  src: url(../font/Dancing.ttf);
}
@font-face{
  font-family: "greatvibes";
  src: url(../font/GreatVibes.otf);
}

main1{
  background-color: #FBCFBB;
  box-shadow: 5px 5px 5px 5px grey;
  width: 90%;
  margin-bottom: 130px;
  margin-left: 5%;
  font-family:"Dancing";
}
main2{
  background-color: #FAEEF4;
  box-shadow: 5px 5px 5px 5px grey;
  width: 90%;
  margin-bottom: 130px;
  margin-left: 5%;
  font-family: "gabriela";  
}
.lechic-titre{
  font-size: 30px;
}
.lechicalafrançaise-titre{
  background: linear-gradient( to right, rgb(247, 134, 5),rgb(18, 57, 185));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lechic-couleur1{
  color: chocolate;
}
.lechic-couleur2{
  color: rgb(176, 120, 230);
}
.lechic-couleur3{
  color: rgb(52, 12, 161);
}
.separateurchic1-left{
  width: 30%;
  margin-top: 10%;
  margin-left: 0%;
  margin-bottom:-3%;
  fill: chocolate;
}
.separateurchic1-right{
  width: 30%;
  margin-left: 70%;
  margin-bottom: 6%;
  margin-top: -42%;
  fill: chocolate;
}
.separateurchic2-left{
  width: 30%;
  margin-top: 10%;
  margin-left: 0%;
  margin-bottom:-4%;
  fill: rgb(176, 120, 230);
}
.separateurchic2-right{
  width: 30%;
  margin-left: 70%;
  margin-bottom: 6%;
  margin-top: -42%;
  fill: rgb(176, 120, 230); 
}
.separateurchic3-left{
  width: 30%;
  margin-top: 10%;
  margin-left: 0%;
  margin-bottom:-4%;
  fill: rgb(52, 12, 161);
}
.separateurchic3-right{
  width: 30%;
  margin-left: 70%;
  margin-bottom: 6%;
  margin-top: -42%;
  fill: rgb(52, 12, 161); 
}

main3{
  background-color: #DDE7E9;
  box-shadow: 5px 5px 5px 5px grey;
  width: 90%;
  margin-bottom: 130px;
  margin-left: 5%;
  font-family: "greatvibes";
  font-size: 20px;
}
.delice-titre{
  background: linear-gradient( to right,  rgb(128, 229, 233),rgb(7, 56, 190));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.papille-titre1{
  font-size: 40px;
}
.separateurdelice-left{
  width: 30%;
  margin-top: 10%;
  margin-left: 1%;
  margin-bottom:-4%;
  fill: rgb(7, 56, 190);
}
.separateurdelice-right{
  width: 30%;
  margin-left: 68%;
  margin-bottom: 8%;
  margin-top: -42%;
  fill: rgb(7, 56, 190);
}
main4{
  background-color: #EEF2E7;
  box-shadow: 5px 5px 5px 5px grey;
  width: 90%;
  margin-bottom: 130px;
  margin-left: 5%;
  font-family: "apples";
}
.palettedugout-titre{
  font-size: 30px;
}
.lapalette-titre{
  background: linear-gradient( to right,  rgb(212, 209, 23),rgb(15, 105, 71));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.separateur-left{
  width: 30%;
  margin-top: 10%;
  margin-left: 1%;
  margin-bottom:-3%;
  fill: url(#Gradient-left);
}

.separateur-right{
  width: 30%;
  margin-left: 68%;
  margin-bottom: 5%;
  margin-top: -42%;
  fill: url(#Gradient-right); 
}
.gradient{
  margin-left: 47%;
  margin-right: 45%;
  background: linear-gradient( to right, red,yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-pied{
  font-size: 65px;
  margin-left: 38%;
  margin-right: 3%;
  margin-top: -20px;
  background: linear-gradient( to right, red,yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.entrée{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
}
.plat{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
}
.dessert{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
  margin-bottom: 65px;
}
article{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

h3 {
  text-align: center;
  font-size: 50px;
}
header {
  width: 100%;
}
header h1{
  color: #fdcb46;
  background: #579c87;
  height: 100px;
  text-align: center;
  font-size: 80px;
  margin-top: 0;
}
a{
  text-decoration: none;
}

P{
  margin-top: 0;
  font: bold; 
}
h4{
  text-align: center;
  margin-top: 1px;
  margin-bottom: 32px;
}
h2{
  text-align: center;
  font-size: 30px;
}

.icon{
  text-align: center;
  font-size: 50px;
  
}

.pied{
  display: flex;
  flex-direction: row;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 80px;
  
}

footer {
  display: flex;
  background: #579c87;
  color: #fdcb46;
  height: 50px;
  font-size: 40px;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  left: 0;
  padding: 0 2% 0 2%;
  margin-bottom: 0;
}
.mentions{
  color:#fdcb46; 
}
.contact{
  color:#fdcb46; 
}
.hr {
  align-items: center;
  text-align: center;
  font-size: 30px;
}

.hr::before,
.hr::after {
  border-top: 3px solid;
  content: "";
  flex: 1;
  margin: 5px;
}

/*version tablette et mobile*/

@media all and (max-width:800px){
  
  .gradient{
    margin-left: 32%;
    margin-right: 35%;
  } 
  .gradient-pied{
    font-size: 45px;
    margin-left: 20%;
    margin-top: -1%
  }
  header h1{
    font-size: 60px;
    
  }
  h3{
    font-size: 30px;
  } 
  .hr{
   font-size: 22px;
   
  }
  .entrée{
    margin-left: 74px;
    margin-right: 70px;
  }
  .plat{
    margin-left: 65px;
    margin-right: 55px;
  }
  .dessert{
    margin-left: 45px;
    margin-right: 37px;
  }
  article{
    flex-direction: column;
    text-align: center;
  }
  footer {
    height: 75px;
    font-size: 25px;
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .mentions{
    margin-top: 10px;
    font-size: 35px;
  }
  .contact{
    margin-top: 10px;
    font-size: 35px; 
  }
  .lechic-titre{
    font-size: 25px;
  }
  .separateurchic1-left,.separateurchic2-left,.separateurchic3-left{
    margin-bottom: 3%;
    width: 75%;
    margin-left: 12%;
  }
  .separateurchic1-right,.separateurchic2-right,.separateurchic3-right{
    width: 75%;
    margin-left: 12%;
    margin-top: -3%;
  }
  .separateurdelice-left{
    margin-left: -6%;
    margin-top: 0%;
    margin-bottom: -11%;
  }
  .separateurdelice-right{
    margin-left: 75%; 
  }
  .separateur-left{
    margin-bottom: -9%;
  }
  .dessert{
    margin-left: 70px;
    margin-right: 55px;
  }
  main1{
    height: auto;
    
  }
}
@media all and (max-width:600px){
  body{
    width: auto;
  }
  .separateurdelice-left{
    margin-left: 40px;
    width: 270px;
  }
  .separateurdelice-right{
    margin-left: 45px;
    width: 270px;
  }
  .dessert{
    margin-left: 68px;
    margin-right: 55px;
  }
  
  footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 110px;
    font-size: 30px;
 } 

}

@media all and (max-width:400px){
  body{
    width: auto;
  }
  h4{
    font-size: 20px;
  }
  h3{
    font-size: 25px;
  }
  h2{
    font-size: 25px;
  }
  .hr{
    text-align: center;
  }
  .separateurdelice-left{
    width: 150px;
    margin-left: 20px;
    
  }
  .separateurdelice-right{
    width: 150px;
    margin-left: 20px;
    
  }
  .separateur-left{
    width: 200px;
  }
  .separateur-right{
    width: 200px;
    margin-left: 0px;
  }
  .dessert{
    text-align: center;
  }
  .plat{
  text-align: center;
  }
  .entrée{
  
    text-align: center;
  }
  p{
    margin-bottom: 10px;
  }
  article{
    margin-bottom: 40px;
  }
  footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 110px;
    font-size: 30px;
 } 
  .mentions{
    font-size: 30px;
  }
  .contact{
    font-size: 30px;
    margin-bottom: 10px;
  }
  .gradient-pied{
    margin-left: 10%;
  }
}

