body{
  width: 100%;
  height: auto;
  margin: 0px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  overflow-x: hidden;
}

main1{
  background-color: #FBCFBB;
  box-shadow: 5px 5px 5px 5px grey;
  width: 90%;
  margin-bottom: 130px;
  margin-left: 5%;
  font-family: ;
}
main2{
  background-color: #FAEEF4;
  box-shadow: 5px 5px 5px 5px grey;
  width: 90%;
  margin-bottom: 130px;
  margin-left: 5%;
}
main3{
  background-color: #DDE7E9;
  box-shadow: 5px 5px 5px 5px grey;
  width: 90%;
  margin-bottom: 130px;
  margin-left: 5%;
}
main4{
  background-color: #EEF2E7;
  box-shadow: 5px 5px 5px 5px grey;
  width: 90%;
  margin-bottom: 130px;
  margin-left: 5%;
}
.gradient{
  margin-left: 330px;
  margin-right: 330px;
  background: linear-gradient( to right, red,yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-pied{
  font-size: 65px;
  margin-left: 38%;
  margin-right: 3%;
  margin-top: -20px;
  background: linear-gradient( to right, red,yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.entrée{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
}
.plat{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
}
.dessert{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
}
article{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

h3 {
  text-align: center;
  font-size: 30px;
}
header {
  width: 100%;
}
header h1{
  color: #fdcb46;
  background: #579c87;
  height: 100px;
  text-align: center;
  font-size: 80px;
  margin-top: 0;
}
a{
  text-decoration: none;
}

P{
  margin-top: 0;
  
   
}
h4{
  text-align: center;
  margin-top: 1px;
  margin-bottom: 32px;
  font-size: 20px;
}
h2{
  text-align: center;
  font-size: 30px;
}

.icon{
  text-align: center;
  font-size: 50px;
  
}

.pied{
  display: flex;
  flex-direction: row;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 80px;
  
}

footer {
  display: flex;
  background: #579c87;
  color: #fdcb46;
  height: 50px;
  font-size: 40px;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  left: 0;
  padding: 0 2% 0 2%;
  margin-bottom: 0;
}
.mentions{
  color:#fdcb46; 
}
.contact{
  color:#fdcb46; 
}
.hr {
  align-items: center;
  display: flex;
  text-align: center;
}

.hr::before,
.hr::after {
  border-top: 3px solid;
  content: "";
  flex: 1;
  margin: 5px;
}
.separateur-left{
  width: 30%;
  margin-top: 10%;
  margin-left: 1%;
  margin-bottom:-3%;
}
.separateur-right{
  width: 30%;
  margin-left: 68%;
  margin-bottom: 5%;
  margin-top: -42%;

}
