body{
  width: 100%;
  height: auto;
  margin: 0px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  overflow-x: hidden;
}
main1{
  background-color: #FBCFBB;
  box-shadow: 5px 5px 5px 5px grey;
  width: 60%;
  margin-bottom: 130px;
  margin-left: 20%;
   
}
main2{
  background-color: #FAEEF4;
  box-shadow: 5px 5px 5px 5px grey;
  width: 60%;
  margin-bottom: 130px;
  margin-left: 20%;
}
main3{
  background-color: #F0EEEF;
  box-shadow: 5px 5px 5px 5px grey;
  width: 60%;
  margin-bottom: 130px;
  margin-left: 20%;
}
main4{
  background-color: #FAF7F8;
  box-shadow: 5px 5px 5px 5px grey;
  width: 60%;
  margin-bottom: 130px;
  margin-left: 20%;
}
.entrée{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
}
.plat{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
}
.dessert{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
}
article{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

h2 {
  text-align: center;
  font-size: 30px;
}
header {
  width: 100%;
}
header h1{
  color: #fdcb46;
  background: #579c87;
  height: 100px;
  text-align: center;
  font-size: 80px;
  margin-top: 0;
}
a{
  text-decoration: none;
}

P{
  margin-top: 0;
   
}
h3{
  text-align: center;
  margin-top: 1px;
  margin-bottom: 32px;
  
}
h2{
  text-align: center;
  font-size: 25px;
  
}
.icon{
  text-align: center;
  font-size: 50px;
}
.pied{
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 80px;
}

footer {
  display: flex;
  background: #579c87;
  color: #fdcb46;
  height: 50px;
  font-size: 40px;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  left: 0;
  padding: 0 2% 0 2%;
  margin-bottom: 0;
}
.hr {
  align-items: center;
  display: flex;
  text-align: center;
}

.hr::before,
.hr::after {
  border-top: 3px solid;
  content: "";
  flex: 1;
  margin: 5px;
}
