body{
   width: 100%;
   height: auto;
   margin: 0px;
   display: flex;
   flex-direction: column;
   padding: 0px;
   overflow-x: hidden;
}
main{
   background-color: white;
}

@font-face{
   font-family: "gabriela";
   src: url('font/Gabriela.ttf');
}
@font-face{
   font-family: "apples";
   src: url('font/apples.otf');
}
@font-face{
   font-family: "Dancing";
   src: url('font/Dancing.ttf');
}
@font-face{
   font-family: "Devonshire";
   src: url('font/Devonshire.ttf');
}

a{
   text-decoration: none;
}
.gradient{
   font-size: 50px;
   margin-left: 85px;
   margin-right: 85px;
   background: linear-gradient( to right, red,yellow);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   
}
#haut{
   display: flex;
   flex-direction: row;
   margin-top: 10%;
   margin-left: 25%;
}
#bas{
   display: flex;
   flex-direction: row;
   margin-top: 3%;
   margin-left: 25%;
}
.noteenchantée{
   background-color: #FBCFBB;
   padding-top: 93px;
   text-align: center;
   margin-right: 55px;
   width: 35%;
   padding-bottom: 200px;
   box-shadow: 5px 5px 5px 5px grey;
   font-size: 20px;
   
}
.chicfrançaise{
   background-color: #FAEEF4;
   text-align: center;
   padding-top: 150px;
   width: 35%;
   box-shadow: 5px 5px 5px 5px grey;
   font-size: 20px;
}
.délicepapilles{
   background-color: #DDE7E9;
   width: 35%;
   padding-top: 150px;
   padding-bottom: 200px;
   margin-right: 55px;
   text-align: center;
   box-shadow: 5px 5px 5px 5px grey;
   font-size: 20px; 
}
.palettedugout{
   background-color: #EEF2E7;
   text-align: center;
   padding-top: 150px;
   width: 35%;
   box-shadow: 5px 5px 5px 5px grey;
   font-size: 20px;
}
h1 {
   text-align: center;
   color: #fdcb46;
   font-size: 90px;
   margin-top: 5px; 
}
header {
   background-color: #579c87;
   height: 150px;
}
aside{
   display: flex;
   justify-content: center;
}
mark{
   display: flex;
   padding: 20px;
   margin: 20px;
   background-color:#579c87 ;
   color: #fdcb46;
   font-size: 30px;
   border-radius: 15px 15px 15px 15px;
}
footer{
   display: flex;
   flex-direction: row;
   background-color:#579c87 ;
   
   height: 50px;
   font-size: 40px;
   position: sticky;
   bottom: 0;
   left: 0;
   padding: 0 2% 0 2%;
   justify-content: space-between; 
}
.mentions{
   color:#fdcb46; 
}
.contact{
   color:#fdcb46; 
}
.lien1{
   font-family: "Dancing";
   color: black;
}
.lien2{
   font-family: "gabriela";
   margin-left: 50px;
   margin-right: 50px;
   background: linear-gradient( to right, rgb(247, 134, 5),rgb(94, 127, 233));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   
}
.lien3{
   font-family: "Devonshire";
  
   background: linear-gradient( to right, rgb(128, 229, 233),rgb(7, 56, 190));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.lien4{
   font-family: "apples";
   background: linear-gradient( to right, rgb(212, 209, 23),rgb(15, 105, 71));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
